<html>
<head>
  <title>Qianli</title>
   <%= javascript_include_tag 'jquery', 'json', 'juggernaut/juggernaut', 'juggernaut/jquerynaut', 'juggernaut/swfobject'  %> 
  	<%= juggernaut %>
</head>

<body >	
	<div class="main">

	</div>
	
</body>

</html>